/* Some day this will be a real style sheet :) */

body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("https://github.com/rchillard/supper-app/blob/master/ocean-bg.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Full height */
    height: 100%;
}
